# Mac specific directory
.DS_Store

# Patches
*.patch

# IDE specific directories and files
/.buildpath
/.idea
/.project
/.settings

# Webserver specific configuration
/.htaccess
/lighttpd.conf
/nginx.conf
/web.config

# Sonar directories
/.sonar
/.sonartmp

# Tools
/tools/tmp/*
!/tools/tmp/info.txt

# CMS
/csphere/config/*
!/csphere/config/info.txt
/csphere/storage/cache/*
!/csphere/storage/cache/info.txt
/csphere/storage/database/*
!/csphere/storage/database/info.txt
/csphere/storage/logs/*/*.log