.DS_Store
*.patch
/.buildpath
/.htaccess
/.idea
/.project
/.settings
/.sonar
/.sonartmp
/lighttpd.conf
/nginx.conf
/web.config
/csphere/config/*.php
/csphere/storage/cache/*.tmp
/csphere/storage/database/*.sqlite
/csphere/storage/logs/*/*.log
/tools/tmp/api
/tools/tmp/*.html
/tools/tmp/*.svg
/tools/tmp/*.xml