.DS_Store
*.patch
/.buildpath
/.htaccess
/.idea
/.project
/.settings
/.sonar
/.sonartmp
/lighttpd.conf
/nginx.conf
/web.config
/vendor/csphere/cache/*.tmp
/vendor/csphere/config/*.php
/vendor/csphere/database/*.sqlite
/vendor/csphere/logs/*/*.log
/tools/tmp/api
/tools/tmp/*.html
/tools/tmp/*.svg
/tools/tmp/*.xml