/*------------------------------------------------------------

  *Filename             global.css
  *Description          BASIC STYLES CSS
  *Version              0.1 (2013-11-23)
  *Website              http://www.csphere.eu
  *Author               Stefan Gräwe <sgrwe>

------------------------------------------------------------*/


body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Tahoma, Verdana, "Helvetica Neue", "Neue Helvetica", Helvetica, sans-serif;
    padding: 75px 0 60px;
}


/*  __LINKS
------------------------------------------------------------*/
a:link, a:visited { outline: none; text-decoration: none; }
a:hover { color: #d72322; }


/*  __BUTTONS
------------------------------------------------------------*/
button { outline: none; }


/*  __SELECTIONS
------------------------------------------------------------*/
::-moz-selection {
    background: #2cb4e8;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #2cb4e8;
    color: #fff;
    text-shadow: none;
}
