/*------------------------------------------------------------

  *Filename             templates.css
  *Description          CSPHERE TEMPLATES STYLES
  *Version              0.1 (2013-11-23)
  *Website              http://www.csphere.eu
  *Author               Stefan Gräwe <sgrwe>

------------------------------------------------------------*/


/*  __USERS-LOGIN-FORM-BOX
------------------------------------------------------------*/
#users-login-form-box {}

/* ----- __USERS-LOGIN-FORM-BOX DROPDOWN-MENU ----- */
#users-login-form-box .dropdown-menu { min-width: 250px; padding: 15px 15px 0; }


/*  __ERRORS-LATEST-BOX
------------------------------------------------------------*/
#errors-latest-box {}

/* ----- __ERRORS-LATEST-BOX PAGE-HEADER ----- */
#errors-latest-box .page-header { margin-top: 0; }


/*  __ERRORS-DETAILS & DEBUG-BACKTRACE
------------------------------------------------------------*/

/* ----- __ERRORS-DETAILS & DEBUG-BACKTRACE DL-HORIZONTAL ----- */
#errors-details .dl-horizontal, #debug-backtrace .dl-horizontal { margin-bottom: 0; }
#errors-details .dl-horizontal dt, #debug-backtrace .dl-horizontal dt { width: 80px; }
#errors-details .dl-horizontal dd, #debug-backtrace .dl-horizontal dd { margin-left: 100px; }
