/*------------------------------------------------------------

  *Filename             theme.css
  *Description          CSPHERE THEME STYLES
  *Version              0.1 (2013-11-23)
  *Website              http://www.csphere.eu
  *Author               Stefan Gräwe <sgrwe>

------------------------------------------------------------*/


/*  __HEADER
------------------------------------------------------------*/
#header {}

/* ----- __HEADER NAVBAR-TOGGLE ----- */
#header .navbar-toggle {
    color: #fff;
    line-height: 34px;
    max-height: 34px;
    padding: 0;
    width: 38px;
}
