<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
    xs:noNamespaceSchemaLocation="http://www.csphere.eu/xml/schemas/plugin.xsd">
    <vendor>csphere</vendor>
    <version>0.1</version>
    <published>2013-12-24</published>
    <copyright>cSphere Team</copyright>
    <license>Simplified BSD License</license>
    <name>Default</name>
    <info>Contains basic stuff like flags and icons</info>
    <engine name="csphere" version_min="2013.0" />
    <icon type="fontawesome">fa-square</icon>
    <authors>
        <current>cSphere Team</current>
        <past>cSphere Team</past>
    </authors>
    <contact>
        <email adress="contact@csphere.eu" />
        <web url="http://www.csphere.eu" />
    </contact>
    <required php="5.4.0">
        <extension>date</extension>
        <extension>fileinfo</extension>
        <extension>filter</extension>
        <extension>json</extension>
        <extension>mcrypt</extension>
        <extension>pcre</extension>
        <extension>session</extension>
        <extension>xml</extension>
    </required>
    <environment>
        <needed vendor="csphere" plugin="access" version_min="0.1" />
        <needed vendor="csphere" plugin="admin" version_min="0.1" />
        <needed vendor="csphere" plugin="bootstrap" version_min="0.1" />
        <needed vendor="csphere" plugin="cache" version_min="0.1" />
        <needed vendor="csphere" plugin="database" version_min="0.1" />
        <needed vendor="csphere" plugin="debug" version_min="0.1" />
        <needed vendor="csphere" plugin="environment" version_min="0.1" />
        <needed vendor="csphere" plugin="errors" version_min="0.1" />
        <needed vendor="csphere" plugin="famfamfam" version_min="0.1" />
        <needed vendor="csphere" plugin="fontawesome" version_min="0.1" />
        <needed vendor="csphere" plugin="groups" version_min="0.1" />
        <needed vendor="csphere" plugin="jquery" version_min="0.1" />
        <needed vendor="csphere" plugin="languages" version_min="0.1" />
        <needed vendor="csphere" plugin="members" version_min="0.1" />
        <needed vendor="csphere" plugin="options" version_min="0.1" />
        <needed vendor="csphere" plugin="plugins" version_min="0.1" />
        <needed vendor="csphere" plugin="tags" version_min="0.1" />
        <needed vendor="csphere" plugin="themes" version_min="0.1" />
        <needed vendor="csphere" plugin="users" version_min="0.1" />
        <needed vendor="csphere" plugin="xml" version_min="0.1" />
    </environment>
    <startup>
        <file type="stylesheet" top="false" name="csphere.css" />
        <file type="javascript" top="false" name="ajax.js" />
    </startup>
</plugin>
