/*------------------------------------------------------------

  *Filename             global.css
  *Description          BASIC STYLES CSS
  *Version              0.1 (2013-12-11)
  *Website              http://www.csphere.eu
  *Author               Stefan Gräwe <sgrwe>

------------------------------------------------------------*/


body {
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, Tahoma, Verdana, "Helvetica Neue", "Neue Helvetica", Helvetica, sans-serif;
    padding: 55px 0;
    }


/*  __LINKS
------------------------------------------------------------*/
a:link, a:visited { outline: none; text-decoration: none; }
a:hover { color: #d72322; }


/*  __SELECTIONS
------------------------------------------------------------*/
::-moz-selection {
    background: #2cb4e8;
    color: #fff;
    text-shadow: none;
    }
::selection {
    background: #2cb4e8;
    color: #fff;
    text-shadow: none;
    }