<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
    xs:noNamespaceSchemaLocation="http://www.csphere.eu/xml/schemas/plugin.xsd">
    <vendor>csphere</vendor>
    <version>0.1</version>
    <published>2013-12-24</published>
    <copyright>cSphere Team</copyright>
    <license>Simplified BSD License</license>
    <name>Blog</name>
    <info>Write and publish blogs</info>
    <engine name="csphere" version_min="2013.0" />
    <icon type="fontawesome">fa-newspaper-o</icon>
    <authors>
        <current>cSphere Team</current>
        <past>cSphere Team</past>
    </authors>
    <contact>
        <email adress="contact@csphere.eu" />
        <web url="http://www.csphere.eu" />
    </contact>
    <required php="5.4.0">
    </required>
    <environment>
        <needed vendor="csphere" plugin="tags" version_min="0.1" />
        <needed vendor="csphere" plugin="users" version_min="0.1" />
    </environment>
    <entries>
        <target vendor="csphere" plugin="admin" action="content" />
    </entries>
    <routes>
        <define type="backend">create</define>
        <define type="backend">edit</define>
        <define type="backend">form</define>
        <define type="backend">manage</define>
        <define type="backend">options</define>
        <define type="backend">remove</define>
        <define type="backend">form</define>
        <define type="frontend">list</define>
        <define type="frontend">view</define>
    </routes>
</plugin>
